package Model.APPS.CPU_CORE.v4_0_4.Templates;
import Model.APPS.CPU_CORE.v4_0_4.CPU_CORE;
	Integer cpux = 5

	String[] tsr0 = new String[6]
	int tsr0_owner = -1
	String[] tsr1 = new String[6]
	int tsr1_owner = -1
	String[] tsr2 = new String[6]
	int tsr2_owner = -1
	String[] tsr3 = new String[6]
	int tsr3_owner = -1
	String[] tsr4 = new String[6]
	int tsr4_owner = -1
	String[] tsr5 = new String[6]
	int tsr5_owner = -1
	String[] tsr7 = new String[6]
	int tsr7_owner = -1

	boolean flag = false

	for (CPU_CORE appInst : appInstancesList) {
		flag = (appInst.ginteger_num_cores.value < (cpux + 1))
		List cpu_core_uri = null						/* Used for holding CPU core resource assigned by solver. */
		/* Get the resources consumed by the APP and assign them to the list variables */
		cpu_core_uri = appInst.hwres_cpu_core.getSolverUri()
		/* If the channel resource is available */
		if (cpu_core_uri != null) {
			String ModuleInst = cpu_core_uri[4]			/* CPU core number */
			int cpuno = Integer.parseInt(ModuleInst)
			if (appInst.gcheck_tcn0.value)
			{
				tsr0[cpuno] = appInst.gstring_tcn0_tsr.value
				if (tsr0_owner == -1)
				{
					tsr0_owner = cpuno
				}
			}
			else
			{
				tsr0[cpuno] = null
			}
			if (appInst.gcheck_tcn1.value)
			{
				tsr1[cpuno] = appInst.gstring_tcn1_tsr.value
				if (tsr1_owner == -1)
				{
					tsr1_owner = cpuno
				}
			}
			else
			{
				tsr1[cpuno] = null
			}
			if (appInst.gcheck_tcn2.value)
			{
				tsr2[cpuno] = appInst.gstring_tcn2_tsr.value
				if (tsr2_owner == -1)
				{
					tsr2_owner = cpuno
				}
			}
			else
			{
				tsr2[cpuno] = null
			}
			if (appInst.gcheck_tcn3.value)
			{
				tsr3[cpuno] = appInst.gstring_tcn3_tsr.value
				if (tsr3_owner == -1)
				{
					tsr3_owner = cpuno
				}
			}
			else
			{
				tsr3[cpuno] = null
			}
			if (appInst.gcheck_tcn4.value)
			{
				tsr4[cpuno] = appInst.gstring_tcn4_tsr.value
				if (tsr4_owner == -1)
				{
					tsr4_owner = cpuno
				}
			}
			else
			{
				tsr4[cpuno] = null
			}
			if (appInst.gcheck_tcn5.value)
			{
				tsr5[cpuno] = appInst.gstring_tcn5_tsr.value
				if (tsr5_owner == -1)
				{
					tsr5_owner = cpuno
				}
			}
			else
			{
				tsr5[cpuno] = null
			}
			if (appInst.gcheck_tcn7.value)
			{
				tsr7[cpuno] = appInst.gstring_tcn7_tsr.value
				if (tsr7_owner == -1)
				{
					tsr7_owner = cpuno
				}
			}
			else
			{
				tsr7[cpuno] = null
			}
		}
	}

	for (CPU_CORE appInst : appInstancesList)
	{
		if (flag)
		{
			out.print("""
/* The device selected in the project does not have CPU core #${cpux.toString()} */
""")
		}
		else
		{
			out.print("""/**
 * @file cpu_core_conf_cpu${cpux.toString()}.c
 *
 * NOTE:
 * This file is generated by ACS. Any manual modification done to this file will be lost when the code is 
 * regenerated.
 *
 * @cond
 ***********************************************************************************************************************
 *
 * (c) 2025, Infineon Technologies AG, or an affiliate of Infineon Technologies AG. All rights reserved. 
 *
 * Use of this file is subject to the terms of use agreed between (i) you or the company in which ordinary course of
 * business you are acting and (ii) Infineon Technologies AG or its licensees. If and as long as no such terms of use
 * are agreed, use of this file is subject to following:
 *
 * Boost Software License - Version 1.0 - August 17th, 2003
 *
 * Permission is hereby granted, free of charge, to any person or organization obtaining a copy of the software and
 * accompanying documentation covered by this license (the "Software") to use, reproduce, display, distribute, execute,
 * and transmit the Software, and to prepare derivative works of the Software, and to permit third-parties to whom the
 * Software is furnished to do so, all subject to the following:
 *
 * The copyright notices in the Software and this entire statement, including the above license grant, this restriction
 * and the following disclaimer, must be included in all copies of the Software, in whole or in part, and all
 * derivative works of the Software, unless such copies or derivative works are solely in the form of
 * machine-executable object code generated by a source language processor.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
 * COPYRIGHT HOLDERS OR ANYONE DISTRIBUTING THE SOFTWARE BE LIABLE FOR ANY DAMAGES OR OTHER LIABILITY, WHETHER IN
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 ***********************************************************************************************************************
 *
 * @endcond
 *
 */

/***********************************************************************************************************************
 * HEADER FILES
 **********************************************************************************************************************/
#include "cpu_core.h"
""")
		}

		List cpu_core_uri = null						/* Used for holding CPU core resource assigned by solver. */
		String appLabel = appInst.getInstanceLabel()	/* Get the name provided for APP instance. */  

		/* Get the resources consumed by the APP and assign them to the list variables */
		cpu_core_uri = appInst.hwres_cpu_core.getSolverUri()

		/* If the channel resource is available */
		if (cpu_core_uri != null) {
			/* Local strings to hold resource values derived from the URI */
			String ModuleInst = cpu_core_uri[4]			/* CPU core number */
			int cpuno = Integer.parseInt(ModuleInst)
			if (cpuno == cpux)
			{
				flag = true
				out.print("""
/*======================================================================================================================
 = CONFIGURATION FOR ${appLabel}
 =====================================================================================================================*/
/***********************************************************************************************************************
 * DATA STRUCTURES
 **********************************************************************************************************************/""")

				if (appInst.gcheck_mpuen.value == true)
				{
					out.print("""
/* MPU Accessible Data Ranges */
CPU_CORE_MPU_RANGE_t ${appLabel}_mpu_data_ranges[] =
{""")
					for (int i = 0; i < appInst.ginteger_dprxnum.value; i++)
					{
						String faddr = String.format("0x%08x", appInst.rArraygindexgroup_Set[1]."ginteger_dprl${i.toString()}".value)
						String taddr = String.format("0x%08x", appInst.rArraygindexgroup_Set[1]."ginteger_dpru${i.toString()}".value - 1)
						out.print("""
  {${faddr}, ${taddr}},""")
					}
					out.print("""
};

/* MPU Accessible Code Ranges */
CPU_CORE_MPU_RANGE_t ${appLabel}_mpu_code_ranges[] =
{""")
					for (int i = 0; i < appInst.ginteger_cprxnum.value; i++)
					{
						String faddr = String.format("0x%08x", appInst.rArraygindexgroup_Set[1]."ginteger_cprl${i.toString()}".value)
						String taddr = String.format("0x%08x", appInst.rArraygindexgroup_Set[1]."ginteger_cpru${i.toString()}".value - 1)
						out.print("""
  {${faddr}, ${taddr}},""")
					}
					out.print("""
};

/* MPU Set Configurations */
CPU_CORE_MPU_SET_t ${appLabel}_mpu_sets[] =
{""")
					for (int i = 0; i < appInst.ginteger_setnum.value; i++)
					{
						int dprexbm = 0
						boolean[] dprex =
						[
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_0.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_1.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_2.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_3.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_4.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_5.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_6.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_7.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_8.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_9.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_10.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_11.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_12.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_13.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_14.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_15.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_16.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dprex_17.value
						]
						for (int j = 0; j < appInst.ginteger_dprxnum.value; j++)
						{
							if (dprex[j])
							{
								dprexbm |= (1 << j)
							}
						}
						int dpwexbm = 0
						boolean[] dpwex =
						[
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_0.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_1.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_2.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_3.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_4.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_5.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_6.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_7.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_8.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_9.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_10.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_11.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_12.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_13.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_14.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_15.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_16.value,
							appInst.rArraygindexgroup_Set[i].gcheck_dpwex_17.value
						]
						for (int j = 0; j < appInst.ginteger_dprxnum.value; j++)
						{
							if (dpwex[j])
							{
								dpwexbm |= (1 << j)
							}
						}
						int cppexbm = 0
						boolean[] cppex =
						[
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_0.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_1.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_2.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_3.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_4.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_5.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_6.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_7.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_8.value,
							appInst.rArraygindexgroup_Set[i].gcheck_cppex_9.value,
						]
						for (int j = 0; j < appInst.ginteger_cprxnum.value; j++)
						{
							if (cppex[j])
							{
								cppexbm |= (1 << j)
							}
						}
						out.print("""
  {.read = ${String.format("0x%08x", dprexbm)}, .write = ${String.format("0x%08x", dpwexbm)}, .execute = ${String.format("0x%08x", cppexbm)}},""")
					}
					out.print("""
};

/* MPU Configuration */
CPU_CORE_MPU_CONF_t ${appLabel}_mpu_config =
{
  .data_range =
  {
    .num    = ${appInst.ginteger_dprxnum.value.toString()},
    .ranges = ${appLabel + "_mpu_data_ranges"}
  },
  .code_range =
  {
    .num    = ${appInst.ginteger_cprxnum.value.toString()},
    .ranges = ${appLabel + "_mpu_code_ranges"}
  },
  .set =
  {
    .num    = ${appInst.ginteger_setnum.value.toString()},
    .sets   = ${appLabel + "_mpu_sets"}
  },
};
""")
				}
				out.print("""
/* CPU_CORE APP configuration structure */
const CPU_CORE_CONF_t ${appLabel}_config =
{
  .iomode_config =
  {
    .u1_ios = ${appInst.gcombo_pa_u1.value == "Supervisor" ? "TRUE" : "FALSE"},
    .u1_ied = ${appInst.gcheck_eidi_u1.value == true ? "TRUE" : "FALSE"}
  },
  .mpu_config = ${appInst.gcheck_mpuen.value == true ? "&" + appLabel + "_mpu_config" : "NULL_PTR"}
};

/***********************************************************************************************************************
 * GLOBAL DATA
 **********************************************************************************************************************/
/* APP handle structure */
CPU_CORE_t ${appLabel} = 
{
  .app_config         = &${appLabel}_config,
  .cpu                = &MODULE_CPU${ModuleInst},
  .app_is_initialized = FALSE
};
""")
				boolean func_header = false
				if (tsr0_owner == cpuno)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
	 					func_header = true
					}
					out.print("""
/* TCN0 Service Routine */
void CPU_CORE_MemoryManagementError(IfxCpu_Trap trap_info)
{""")
					Boolean first = true
					for (Integer i = 0; i < 6; i++)
					{
						if (tsr0[i] != null)
						{
							if (first)
							{
								out.print("""
  if """)
							first = false
							}
							else
							{
								out.print("""
  else if """)
							}
							out.print("""(trap_info.tCpu == IfxCpu_Id_${i.toString()})
  {
    extern void ${tsr0[i]}(IfxCpu_Trap);
    /* Callback user defined function */
    ${tsr0[i]}(trap_info);
  }""")
						}
					}
					out.print("""
}
""")
				}
				if (tsr1_owner == cpuno)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
	 					func_header = true
					}
					out.print("""
/* TCN1 Service Routine */
void CPU_CORE_InternalProtectionError(IfxCpu_Trap trap_info)
{""")
					Boolean first = true
					for (Integer i = 0; i < 6; i++)
					{
						if (tsr1[i] != null)
						{
							if (first)
							{
								out.print("""
  if """)
								first = false
							}
							else
							{
								out.print("""
  else if """)
							}
							out.print("""(trap_info.tCpu == IfxCpu_Id_${i.toString()})
  {
    extern void ${tsr1[i]}(IfxCpu_Trap);
    /* Callback user defined function */
    ${tsr1[i]}(trap_info);
  }""")
						}
					}
					out.print("""
}
""")
				}
				if (tsr2_owner == cpuno)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
 					func_header = true
					}
					out.print("""
/* TCN2 Service Routine */
void CPU_CORE_InstructionError(IfxCpu_Trap trap_info)
{""")
					Boolean first = true
					for (Integer i = 0; i < 6; i++)
					{
						if (tsr2[i] != null)
						{
							if (first)
							{
								out.print("""
  if """)
								first = false
							}
							else
							{
								out.print("""
  else if """)
							}
							out.print("""(trap_info.tCpu == IfxCpu_Id_${i.toString()})
  {
    extern void ${tsr2[i]}(IfxCpu_Trap);
    /* Callback user defined function */
    ${tsr2[i]}(trap_info);
  }""")
						}
					}
					out.print("""
}
""")
				}
				if (tsr3_owner == cpuno)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
	 					func_header = true
					}
					out.print("""
/* TCN3 Service Routine */
void CPU_CORE_ContextManagementError(IfxCpu_Trap trap_info)
{""")
					Boolean first = true
					for (Integer i = 0; i < 6; i++)
					{
						if (tsr3[i] != null)
						{
							if (first)
							{
								out.print("""
  if """)
								first = false
							}
							else
							{
								out.print("""
  else if """)
							}
							out.print("""(trap_info.tCpu == IfxCpu_Id_${i.toString()})
  {
    extern void ${tsr3[i]}(IfxCpu_Trap);
    /* Callback user defined function */
    ${tsr3[i]}(trap_info);
  }""")
						}
					}
					out.print("""
}
""")
				}
				if (tsr4_owner == cpuno)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
	 					func_header = true
					}
					out.print("""
/* TCN4 Service Routine */
void CPU_CORE_BusError(IfxCpu_Trap trap_info)
{""")
					Boolean first = true
					for (Integer i = 0; i < 6; i++)
					{
						if (tsr4[i] != null)
						{
							if (first)
							{
								out.print("""
  if """)
							first = false
							}
							else
							{
								out.print("""
  else if """)
							}
							out.print("""(trap_info.tCpu == IfxCpu_Id_${i.toString()})
  {
    extern void ${tsr4[i]}(IfxCpu_Trap);
    /* Callback user defined function */
    ${tsr4[i]}(trap_info);
  }""")
						}
					}
					out.print("""
}
""")
				}
				if (tsr5_owner == cpuno)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
	 					func_header = true
					}
					out.print("""
/* TCN5 Service Routine */
void CPU_CORE_Assertion(IfxCpu_Trap trap_info)
{""")
					Boolean first = true
					for (Integer i = 0; i < 6; i++)
					{
						if (tsr5[i] != null)
						{
							if (first)
							{
								out.print("""
  if """)
								first = false
							}
							else
							{
								out.print("""
  else if """)
							}
							out.print("""(trap_info.tCpu == IfxCpu_Id_${i.toString()})
  {
    extern void ${tsr5[i]}(IfxCpu_Trap);
    /* Callback user defined function */
    ${tsr5[i]}(trap_info);
  }""")
						}
					}
					out.print("""
}
""")
				}
				if (appInst.gcheck_tcn6.value)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
	 					func_header = true
					}
					out.print("""
/* TCN6 Service Routine */
void CPU_CORE_systemCall_Cpu${ModuleInst}(IfxCpu_Trap trap_info)
{
  extern void ${appInst.gstring_tcn6_tsr.value}(IfxCpu_Trap trap_info);
  /* Callback user defined function */
  ${appInst.gstring_tcn6_tsr.value}(trap_info);
}
""")
				}
				if (tsr7_owner == cpuno)
				{
					if (!func_header)
					{
						out.print("""
/***********************************************************************************************************************
 * GLOBAL FUNCTIONS
 **********************************************************************************************************************/""")
	 					func_header = true
					}
					out.print("""
/* TCN7 Service Routine */
void CPU_CORE_NonMaskableInterrupt(IfxCpu_Trap trap_info)
{""")
					Boolean first = true
					for (Integer i = 0; i < 6; i++)
					{
						if (tsr7[i] != null)
						{
							if (first)
							{
								out.print("""
  if """)
								first = false
							}
							else
							{
								out.print("""
  else if """)
							}
							out.print("""(trap_info.tCpu == IfxCpu_Id_${i.toString()})
  {
    extern void ${tsr7[i]}(IfxCpu_Trap);
    /* Callback user defined function */
    ${tsr7[i]}(trap_info);
  }""")
						}
					}
					out.print("""
}
""")
				}
			}
		} /* if (cpu_core_uri != null) */
	} /* for (CPU_CORE appInst : appInstancesList) */

	if (!flag)
	{
		out.print("""
/* No instance of CPU_CORE APP for core #${cpux.toString()} exists in the project */
""")
	}

	out.print("""
/* CODE_BLOCK_END */
""")
