package Model.APPS.CLOCK.v4_0_4.Templates;
import Model.APPS.CLOCK.v4_0_4.CLOCK;
	/* Local lists holding the values to be specified for LLD */
	List pll_input_clock = /* IfxScuCcu_PllInputClockSelection */
	[
		"IfxScuCcu_PllInputClockSelection_fOsc1",   /* fOsc1 = back-up clock */
		"IfxScuCcu_PllInputClockSelection_fOsc0",   /* fOsc0 */
		"IfxScuCcu_PllInputClockSelection_fSysclk"  /* fSysclk */
	]

	/* Lists for CCUCON0 */
	List stmdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List gtmdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List sridiv = ["1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List lpdiv = ["0", "1", "2", "3", "4"]
	List spbdiv = ["2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List bbbdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List fsidiv = ["1", "2", "3"]

	/* Lists for CCUCON1 */
	List mcandiv = ["0", "0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List clkselmcan = ["0", "2", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1"]
	List i2cdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List mscdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List clkselmsc = ["0", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "2", "2", "2", "2", "2", "2", "2", "2", "2", "2"]
	List qspidiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List clkselqspi = ["0", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "2", "2", "2", "2", "2", "2", "2", "2", "2", "2"]

	/* Lists for CCUCON2 */
	List asclinfdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List asclinsdiv = ["0", "0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List clkselasclins = ["0", "2", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1"]

	/* Lists for CCUCON5 */
	List gethdiv = ["0", "1", "2", "3", "4"]
	List mcanhdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]
	List adasdiv = ["0", "1", "2", "3", "4", "5", "6", "8", "10", "12", "15"]

	/* Lists for modulation config */
	List mod_enable =
	[
		"IfxScuCcu_ModEn_disabled",
		"IfxScuCcu_ModEn_enabled",
		"IfxScuCcu_ModEn_enabled",
		"IfxScuCcu_ModEn_enabled",
		"IfxScuCcu_ModEn_enabled",
		"IfxScuCcu_ModEn_enabled",
		"IfxScuCcu_ModEn_enabled"
	]
	List mod_amp =
	[
		"IfxScuCcu_ModulationAmplitude_0p5",
		"IfxScuCcu_ModulationAmplitude_0p5",
		"IfxScuCcu_ModulationAmplitude_1p0",
		"IfxScuCcu_ModulationAmplitude_1p25",
		"IfxScuCcu_ModulationAmplitude_1p5",
		"IfxScuCcu_ModulationAmplitude_2p0",
		"IfxScuCcu_ModulationAmplitude_2p5"
	]

	/* Lists for EXTCLK0/1 */
	List extclk_sel0 =
	[
		"IfxScuCcu_ClkSel0_fOUT",
		"IfxScuCcu_ClkSel0_fPLL0",
		"IfxScuCcu_ClkSel0_fPLL1",
		"IfxScuCcu_ClkSel0_fOSC0",
		"IfxScuCcu_ClkSel0_fBACK",
		"IfxScuCcu_ClkSel0_fPLL2",
		"IfxScuCcu_ClkSel0_fBBB",
		"IfxScuCcu_ClkSel0_fSRI",
		"IfxScuCcu_ClkSel0_fSPB",
		"IfxScuCcu_ClkSel0_fFSI",
		"IfxScuCcu_ClkSel0_fSTM",
		"IfxScuCcu_ClkSel0_fGTM",
		"IfxScuCcu_ClkSel0_fFSI2",
		"IfxScuCcu_ClkSel0_fMT0"
	]
	List extclk_dm =
	[
	  "IfxScuCcu_Clk0Mode_normal",
	  "IfxScuCcu_Clk0Mode_fractional"
	]
	List extclk_sel1 =
	[
		"IfxScuCcu_ClkSel1_fOUT",
		"IfxScuCcu_ClkSel1_fPLL0",
		"IfxScuCcu_ClkSel1_fPLL1",
		"IfxScuCcu_ClkSel1_fEBU",
		"IfxScuCcu_ClkSel1_fBACK",
		"IfxScuCcu_ClkSel1_fMCAN",
		"IfxScuCcu_ClkSel1_fADC",
		"IfxScuCcu_ClkSel1_fQSPI",
		"IfxScuCcu_ClkSel1_fSRI",
		"IfxScuCcu_ClkSel1_fSPB",
		"IfxScuCcu_ClkSel1_fI2C",
		"IfxScuCcu_ClkSel1_fMSC",
		"IfxScuCcu_ClkSel1_fERAY",
		"IfxScuCcu_ClkSel1_fASCLINF",
		"IfxScuCcu_ClkSel1_fASCLINS"
	]
	List extclk1_nsel =
	[
		"IfxScuCcu_Clk1Negation_inverted",
		"IfxScuCcu_Clk1Negation_Clk1Negation"
	]

	/* Generate the code */
	out.print("""/**
 * @file clock_conf.c
 *
 * NOTE:
 * This file is generated by ACS. Any manual modification done to this file will be lost when the code is 
 * regenerated.
 *
 * @cond
 ***********************************************************************************************************************
 *
 * (c) 2025, Infineon Technologies AG, or an affiliate of Infineon Technologies AG. All rights reserved. 
 *
 * Use of this file is subject to the terms of use agreed between (i) you or the company in which ordinary course of
 * business you are acting and (ii) Infineon Technologies AG or its licensees. If and as long as no such terms of use
 * are agreed, use of this file is subject to following:
 *
 * Boost Software License - Version 1.0 - August 17th, 2003
 *
 * Permission is hereby granted, free of charge, to any person or organization obtaining a copy of the software and
 * accompanying documentation covered by this license (the "Software") to use, reproduce, display, distribute, execute,
 * and transmit the Software, and to prepare derivative works of the Software, and to permit third-parties to whom the
 * Software is furnished to do so, all subject to the following:
 *
 * The copyright notices in the Software and this entire statement, including the above license grant, this restriction
 * and the following disclaimer, must be included in all copies of the Software, in whole or in part, and all
 * derivative works of the Software, unless such copies or derivative works are solely in the form of
 * machine-executable object code generated by a source language processor.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
 * COPYRIGHT HOLDERS OR ANYONE DISTRIBUTING THE SOFTWARE BE LIABLE FOR ANY DAMAGES OR OTHER LIABILITY, WHETHER IN
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 ***********************************************************************************************************************
 *
 * @endcond
 *
 */
/***********************************************************************************************************************
 * HEADER FILES
 **********************************************************************************************************************/
#include "clock.h"
""")

	for (CLOCK appInst : appInstancesList) {
		String appLabel = appInst.getInstanceLabel()   /* Get the name provided for APP instance. */  

		out.print("""
/*======================================================================================================================
 = CONFIGURATION FOR ${appLabel} (target device: ${appInst.gstring_swid.value})
 =====================================================================================================================*/
/***********************************************************************************************************************
 * DATA STRUCTURES
 **********************************************************************************************************************/
/* Configuration for the Pll Steps for current jump control */
const IfxScuCcu_PllStepConfig ${appLabel}_pll_step_config[] = {
""")
		float fpll0 = (appInst.gfloat_fPLL0_300.visible ? appInst.gfloat_fPLL0_300.value :
						appInst.gfloat_fPLL0_200.visible ? appInst.gfloat_fPLL0_200.value :
						appInst.gfloat_fPLL0_160.value)
		String syspll_divider = appInst.gcombo_syspll_divider_list_300.visible ? appInst.gcombo_syspll_divider_list_300.value :
								appInst.gcombo_syspll_divider_list_200.visible ? appInst.gcombo_syspll_divider_list_200.value :
								appInst.gcombo_syspll_divider_list_160.value
		String peripll_divider = appInst.gcombo_peripll_divider_list_300.visible ? appInst.gcombo_peripll_divider_list_300.value :
								appInst.gcombo_peripll_divider_list_200.visible ? appInst.gcombo_peripll_divider_list_200.value :
								appInst.gcombo_peripll_divider_list_160.value
		int k2 = (int)Float.parseFloat(syspll_divider.find(/K2:\d+/).find(/:\d+/).find(/\d+/))
		float dco = appInst.gfloat_syspll_fDCO.value
		int t = 0
		if (fpll0 >= 240) {
			t = 2
		}
		else if (fpll0 >= 200) {
			t = 1
		}
		if (t == 2) {
			for (int n = 8; n != (k2 + 1); n--) {
				if ((dco / (float)n) > 150) {
					out.print("""
  {(${(n + 1).toString()} - 1), 0.000100F},
""")
					break
				}
			}
			t = 1
		}
		if (t == 1) {
			for (int n = 8; n != k2; n--) {
				if ((dco / (float)n) > 200) {
					out.print("""
  {(${(n + 1).toString()} - 1), 0.000100F},
""")
					break
				} 
			}
		}
		out.print("""
  {(${k2.toString()} - 1), 0.000100F},
};

/* modulation config */
const IfxScuCcu_Mod_Config ${appLabel}_mod_config =
{
  .Mod_Enable                   = ${mod_enable[appInst.gcombo_syspll_modcfg.options.indexOf(appInst.gcombo_syspll_modcfg.value)]},
  .Mod_Amp                      = ${mod_amp[appInst.gcombo_syspll_modcfg.options.indexOf(appInst.gcombo_syspll_modcfg.value)]}
};

/* CLOCK configuration */
const IfxScuCcu_Config ${appLabel}_lld_config =
{
  .pllInitialStepConfig =
  {
    .pllsParameters =
    {
      .xtalFrequency            = ${appInst.gcombo_pllinsel.value == "fBACK" ? appInst.gfloat_fBACK.value.toString() :
                                  appInst.gcombo_pllinsel.value == "fOSC0" ? appInst.gfloat_fOSC0.value.toString() :
                                  appInst.gfloat_SYSCLK.value.toString()},
      .pllInputClockSelection   = ${pll_input_clock[appInst.gcombo_pllinsel.options.indexOf(appInst.gcombo_pllinsel.value)]},
      .sysPllConfig =
      {
        .pDivider               = ${(Integer.parseInt(syspll_divider.find(/P:\d+/).find(/\d+/)) - 1).toString()},
        .nDivider               = ${(Integer.parseInt(syspll_divider.find(/N:\d+/).find(/\d+/)) - 1).toString()},
        .k2Divider              = ${(Integer.parseInt(syspll_divider.find(/K2:\d+/).find(/:\d+/).find(/\d+/)) - 1).toString()}
      },
      .perPllConfig =
      {
        .pDivider               = ${(Integer.parseInt(peripll_divider.find(/P:\d+/).find(/\d+/)) - 1).toString()},
        .nDivider               = ${(Integer.parseInt(peripll_divider.find(/N:\d+/).find(/\d+/)) - 1).toString()},
        .k2Divider              = ${(Integer.parseInt(peripll_divider.find(/K2:\d+/).find(/:\d+/).find(/\d+/)) - 1).toString()},""")
		float k3divval = Float.parseFloat(appInst.gcombo_peripll_k3div_300.visible ? appInst.gcombo_peripll_k3div_300.value :
																					appInst.gcombo_peripll_k3div_u200.value)
		out.print("""
        .k3Divider              = ${(k3divval % 1 != 0) ? ((int)((k3divval / 1.6) - 1)).toString() : ((int)((k3divval / 2) - 1)).toString()},
        .k3DividerBypass        = ${(k3divval % 1 != 0) ? "0" : "1"}
      },
    },
    .waitTime                   = 0.000200F
  },
  .sysPllThrottleConfig =
  {
    .numOfSteps                 = sizeof(${appLabel}_pll_step_config) / sizeof(IfxScuCcu_PllStepConfig),
    .pllSteps                   = ${appLabel}_pll_step_config
  },
  .clockDistribution =
  {
    .ccucon0 =""")
		String stmdivval  = stmdiv[appInst.gcombo_stmdiv_300.options.indexOf(appInst.gcombo_stmdiv_300.visible ? appInst.gcombo_stmdiv_300.value :
																												appInst.gcombo_stmdiv_u200.value)]
		String gtmdivval  = gtmdiv[appInst.gcombo_gtmdiv.options.indexOf(appInst.gcombo_gtmdiv.value)]
		String sridivval  = sridiv[appInst.gcombo_sridiv.options.indexOf(appInst.gcombo_sridiv.value)]
		String lpdivval   = lpdiv[appInst.gcombo_lpdiv.options.indexOf(appInst.gcombo_lpdiv.value)]
		String spbdivval  = spbdiv[appInst.gcombo_spbdiv_300.options.indexOf(appInst.gcombo_spbdiv_300.visible ? appInst.gcombo_spbdiv_300.value :
																												appInst.gcombo_spbdiv_u200.value)]
		String bbbdivval  = bbbdiv[appInst.gcombo_bbbdiv.options.indexOf(appInst.gcombo_bbbdiv.value)]
		String fsidivval  = fsidiv[appInst.gcombo_fsidiv_300.options.indexOf(appInst.gcombo_fsidiv_300.visible ? appInst.gcombo_fsidiv_300.value :
																												appInst.gcombo_fsidiv_u200.value)]
		String clksel1val = appInst.gcombo_clksel_1.options.indexOf(appInst.gcombo_clksel_1.value).toString()
		out.print("""
    {
      .value                    = (uint32) ((${stmdivval} << IFX_SCU_CCUCON0_STMDIV_OFF) |
                                            (${gtmdivval} << IFX_SCU_CCUCON0_GTMDIV_OFF) |
                                            (${sridivval} << IFX_SCU_CCUCON0_SRIDIV_OFF) |
                                            (${lpdivval} << IFX_SCU_CCUCON0_LPDIV_OFF) |
                                            (${spbdivval} << IFX_SCU_CCUCON0_SPBDIV_OFF) |
                                            (${bbbdivval} << IFX_SCU_CCUCON0_BBBDIV_OFF) |
                                            (${fsidivval} << IFX_SCU_CCUCON0_FSIDIV_OFF) |
                                            (1 << IFX_SCU_CCUCON0_FSI2DIV_OFF) |
                                            (${clksel1val} << IFX_SCU_CCUCON0_CLKSEL_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON0_MASK
    },
    .ccucon1 =""")
		String mcandivval    = mcandiv[appInst.gcombo_mcandiv.options.indexOf(appInst.gcombo_mcandiv.value)]
		String clkselmcanval = clkselmcan[appInst.gcombo_mcandiv.options.indexOf(appInst.gcombo_mcandiv.value)]
		String pll1divval    = appInst.gcombo_pll1div_300.options.indexOf(appInst.gcombo_pll1div_300.visible ?
									appInst.gcombo_pll1div_300.value :
									appInst.gcombo_pll1div_u200.value).toString()
		out.print("""
    {
      .value                    = (uint32) ((${mcandivval} << IFX_SCU_CCUCON1_MCANDIV_OFF) |
                                            (${clkselmcanval} << IFX_SCU_CCUCON1_CLKSELMCAN_OFF) |
                                            (${pll1divval} << IFX_SCU_CCUCON1_PLL1DIVDIS_OFF) |""")
		if (appInst.gcombo_i2cdiv.visible)
		{
			out.print("""
                                            (${i2cdiv[appInst.gcombo_i2cdiv.options.indexOf(appInst.gcombo_i2cdiv.value)]} << IFX_SCU_CCUCON1_I2CDIV_OFF) |""")
		}
		if (appInst.gcombo_mscdiv.visible)
		{
			out.print("""
                                            (${mscdiv[appInst.gcombo_mscdiv.options.indexOf(appInst.gcombo_mscdiv.value)]} << IFX_SCU_CCUCON1_MSCDIV_OFF) |""")
		}
		String mscdivval     = clkselmsc[appInst.gcombo_mscdiv.options.indexOf(appInst.gcombo_mscdiv.value)]
		String qspidivval    = qspidiv[appInst.gcombo_qspidiv.options.indexOf(appInst.gcombo_qspidiv.value)]
		String qspiclkselval = clkselqspi[appInst.gcombo_qspidiv.options.indexOf(appInst.gcombo_qspidiv.value)]
		out.print("""
                                            (${mscdivval} << IFX_SCU_CCUCON1_CLKSELMSC_OFF) |
                                            (${qspidivval} << IFX_SCU_CCUCON1_QSPIDIV_OFF) |
                                            (${qspiclkselval} << IFX_SCU_CCUCON1_CLKSELQSPI_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON1_MASK
    },
    .ccucon2 =""")
		String asclinfdivval    = asclinfdiv[appInst.gcombo_asclinfdiv.options.indexOf(appInst.gcombo_asclinfdiv.value)]
		String asclinsdivval    = asclinsdiv[appInst.gcombo_asclinsdiv.options.indexOf(appInst.gcombo_asclinsdiv.value)]
		String asclinsclkselval = clkselasclins[appInst.gcombo_asclinsdiv.options.indexOf(appInst.gcombo_asclinsdiv.value)]
		out.print("""
    {
      .value                    = (uint32) ((${asclinfdivval} << IFX_SCU_CCUCON2_ASCLINFDIV_OFF) |
                                            (${asclinsdivval} << IFX_SCU_CCUCON2_ASCLINSDIV_OFF) |
                                            (${asclinsclkselval} << IFX_SCU_CCUCON2_CLKSELASCLINS_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON2_MASK
    },
    .ccucon5 =
    {
      .value                    = (uint32)( """)
	if (appInst.gcombo_gethdiv.visible)
	{
		out.print("""(${gethdiv[appInst.gcombo_gethdiv.options.indexOf(appInst.gcombo_gethdiv.value)]} << IFX_SCU_CCUCON5_GETHDIV_OFF) |
                                            """)
	}
	String mcanhdivval = mcanhdiv[appInst.gcombo_mcanhdiv_300.options.indexOf(appInst.gcombo_mcanhdiv_300.visible ? appInst.gcombo_mcanhdiv_300.value :
																													appInst.gcombo_mcanhdiv_u200.value)]
	out.print("""(${mcanhdivval} << IFX_SCU_CCUCON5_MCANHDIV_OFF)""")
	if (appInst.gcombo_adasdiv.visible)
	{
		String adasdivval = adasdiv[appInst.gcombo_adasdiv.options.indexOf(appInst.gcombo_adasdiv.value)]
		out.print(""" |
                                            (${adasdivval} << IFX_SCU_CCUCON5_ADASDIV_OFF)""")
	}
	out.print("""),
      .mask                     = IFXSCU_CFG_CCUCON5_MASK
    },
    .ccucon6 =""")
		String cpu0divval = appInst.gcombo_cpu0div.options.indexOf(appInst.gcombo_cpu0div.value).toString()
		out.print("""
    {
      .value                    = (uint32)((${cpu0divval} << IFX_SCU_CCUCON6_CPU0DIV_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON6_MASK
    }""")
		if (appInst.gcombo_cpu1div.visible)
		{
			String cpu1divval = appInst.gcombo_cpu1div.options.indexOf(appInst.gcombo_cpu1div.value).toString()
			out.print(""",
    .ccucon7 =
    {
      .value                    = (uint32)((${cpu1divval} << IFX_SCU_CCUCON7_CPU1DIV_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON7_MASK
    }""")
		}
		if (appInst.gcombo_cpu2div.visible)
		{
			String cpu2divval = appInst.gcombo_cpu2div.options.indexOf(appInst.gcombo_cpu2div.value).toString()
			out.print(""",
    .ccucon8 =
    {
      .value                    = (uint32)((${cpu2divval} << IFX_SCU_CCUCON8_CPU2DIV_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON8_MASK
    }""")
		}
		if (appInst.gcombo_cpu3div.visible)
		{
			String cpu3divval = appInst.gcombo_cpu3div.options.indexOf(appInst.gcombo_cpu3div.value).toString()
			out.print(""",
    .ccucon9 =
    {
      .value                    = (uint32)((${cpu3divval} << IFX_SCU_CCUCON9_CPU3DIV_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON9_MASK
    }""")
		}
		if (appInst.gcombo_cpu4div.visible)
		{
			String cpu4divval = appInst.gcombo_cpu4div.options.indexOf(appInst.gcombo_cpu4div.value).toString()
			out.print(""",
    .ccucon10 =
    {
      .value                    = (uint32)((${cpu4divval} << IFX_SCU_CCUCON10_CPU4DIV_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON10_MASK
    }""")
		}
		if (appInst.gcombo_cpu5div.visible)
		{
			String cpu5divval = appInst.gcombo_cpu5div.options.indexOf(appInst.gcombo_cpu5div.value).toString()
			out.print(""",
    .ccucon11 =
    {
      .value                    = (uint32)((${cpu5divval} << IFX_SCU_CCUCON11_CPU5DIV_OFF)),
      .mask                     = IFXSCU_CFG_CCUCON11_MASK
    }""")
		}
		out.print(""",
  },
  .flashFconWaitStateConfig     = NULL_PTR,
  .modulationConfig             = &${appLabel}_mod_config
};

/* CLOCK APP configuration structure */
const CLOCK_CONF_t ${appLabel}_config = 
{
  .lld_config                   = &${appLabel}_lld_config,

  .extclk0 =
  {
    .onoff                      = ${appInst.gcheck_extclk_en0.value == true ? "TRUE" : "FALSE"},
    .clk_sel                    = ${extclk_sel0[appInst.gcombo_extclk_sel0.options.indexOf(appInst.gcombo_extclk_sel0.value)]},
    .freq_hz                    = ${((int)(appInst.gfloat_fEXTCLK0.value * 1000 * 1000)).toString()},
    .mode                       = ${extclk_dm[appInst.gcombo_extclk_dm.options.indexOf(appInst.gcombo_extclk_dm.value)]}
  },

  .extclk1 =
  {
    .onoff                      = ${appInst.gcheck_extclk_en1.value == true ? "TRUE" : "FALSE"},
    .clk_sel                    = ${extclk_sel1[appInst.gcombo_extclk_sel1.options.indexOf(appInst.gcombo_extclk_sel1.value)]},
    .freq_hz                    = ${((int)(appInst.gfloat_fEXTCLK1.value * 1000 * 1000)).toString()},
    .sel                        = ${extclk1_nsel[appInst.gcombo_extclk1_nsel.options.indexOf(appInst.gcombo_extclk1_nsel.value)]}
  }
};

/***********************************************************************************************************************
 * GLOBAL DATA
 **********************************************************************************************************************/
/* APP handle structure */
CLOCK_t ${appLabel} = 
{
  .app_config                   = &${appLabel}_config,
  .app_is_initialized           = FALSE
};

""")
	} /* for (CLOCK appInst : appInstancesList) */

	out.print("""
/* CODE_BLOCK_END */
""")
